.box {
    position: fixed;
    background-color: #78a381;
    border-radius: 30px;
    width: 800px;
    height: 600px;
    top: 30%;
    left: 35%;
    margin-top: -50px;
    margin-left: -100px;
}

.box_header {
    color: white;
    position: absolute;
    float: left;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 50px;
}

.box_text {
    color: white;
    position: absolute;
    top: 20%;
    left: 2%;
    right: 2%;
    font-size: 20px;
}

#about_button {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Verlag A','Verlag B';
    background-color: black;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    font-size: 1.3em!important;
    line-height: 1em;
    padding: 14px 25px;
    text-align: center;
    min-width: 160px;
    text-decoration: none;
}

#rules_button {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Verlag A','Verlag B';
    background-color: black;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    font-size: 1.3em!important;
    line-height: 1em;
    padding: 14px 25px;
    text-align: center;
    min-width: 160px;
    text-decoration: none;
}

#about {
    display: none;
}