body {
    margin: 0;
    padding: 0;
}

#logo {
    height: 100px;
    vertical-align: middle;
    float: left;
}

nav {
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #78a381;
    border: 2px solid black;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    cursor: pointer;
    border: 1px solid black;
    padding: 33px;
    float: left;
}

nav li:first-child {
    border-left-width: 1px;
}

nav li a {
    display: block;
    text-align: center;
    color: #e0e0e0;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #78a381;
}

nav li a:hover:not(.active) {
    background-color: #80b090;
}

.active { 
    background-color: #ffaf00;
    color: #78a381;
}

.rightli {
    float: right;
    width: 108px;
}