<!doctype html>
<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/css/boardStyle.css}">
		<script th:src="@{/jquery/3.3.1/jquery.min.js}"></script>
		<script type="text/javascript"> 
			var index = 0;
			var auction_index = 0;
			var players_in_auction = [1, 1, 1, 1, 1, 1];
			var bidStatus = true; 
			var numPlayers = 0;
			var names = [];
			var row = [11,11,11,11,11,11,11,11,11,11,11,
		   				10, 9, 8, 7, 6, 5, 4, 3, 2, 1,
		    			1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
		    			2, 3, 4, 5, 6, 7, 8, 9, 10];
			var column = [11,10, 9, 8, 7, 6, 5, 4, 3, 2, 1,
		       			1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
		       			2, 3, 4, 5, 6, 7, 8, 9, 10,11,
		       			11,11,11,11,11,11,11,11,11];
			var playerBlocks = ['#player1', '#player2', '#player3', '#player4', '#player5', '#player6'];
			var playerTokens = ['#piece_1', '#piece_2', '#piece_3', '#piece_4', '#piece_5', '#piece_6'];
			var playerNames = ['#player1-name', '#player2-name', '#player3-name', '#player4-name', '#player5-name', '#player6-name'];
			var pieces = ["piece_1", "piece_2", "piece_3", "piece_4", "piece_5", "piece_6"];
			var doublesRolled = false;
		</script>
		<script type="text/javascript" th:src="@{/js/music.js}"></script>
		<script type="text/javascript" th:src="@{/js/alert.js}"></script>
		<script type="text/javascript" th:src="@{/js/move.js}"></script>
		<script type="text/javascript" th:src="@{/js/swap.js}"></script>
		<script type="text/javascript" th:src="@{/js/popup-details.js}"></script>
		<script type="text/javascript" th:src="@{/js/player-info.js}"></script>
		<script type="text/javascript" th:src="@{/js/popup-bars.js}"></script>
		<script type="text/javascript" th:src="@{/js/listbox.js}"></script>
		<script type="text/javascript" th:src="@{/js/toolbar.js}"></script>
		<script type="text/javascript" th:src="@{/js/listbox-rearrangeable.js}"></script>
		<script type="text/javascript" th:src="@{/js/mortgage.js}"></script>
		<script type="text/javascript" th:src="@{/js/trade.js}"></script>
		<script type="text/javascript" th:src="@{/js/ajax-calls.js}"></script>
		<script type="text/javascript" th:src="@{/js/board.js}"></script>
		<script type="text/javascript" th:src="@{/js/new-monopoly.js}"></script>
	</head>


	<aside class="side-space">
		<div id="myModal" class="popup">
		<!-- Modal content -->
			<div class="popup-content"></div>
			<span class="close" id="close1">&times;</span>
			<div id="PlayerInfo"></div>
		</div>



		<div class="side-block" id="player1">
			<div class="player-block">
				<p class="side-block-content" id="player1-name"></p>
				<p>Current money amount:</p>
				<p id="money-1">$1500</p>
				<p><button class="player-btn" id="FirstBtn">More info</button></p>
			</div>
			<div id="in-jail1">
	  			<div class="jail-window">
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
				</div>
			</div>
		</div>
  
		<script>
		player_info('FirstBtn','This is player 1','0,0,0');
		</script>

		<div class="side-block" id="player2">
			<div class="player-block">
				<p class="side-block-content" id="player2-name"></p>
				<p>Current money amount:</p>
				<p id="money-2">$1500</p>
				<p><button class="player-btn" id="SecondBtn">More info</button></p>
			</div>
			<div id="in-jail2">
				<div class="jail-window" >
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
				</div>
			</div>
		</div>
		<script>
		player_info('SecondBtn','This is player 2','0,0,255');
		</script>

		<div class="side-block" id="player3">
			<div class="player-block">
				<p class="side-block-content" id="player3-name"></p>
				<p>Current money amount:</p>
				<p id="money-3">$1500</p>
				<p><button class="player-btn" id="ThirdBtn">More info</button></p>
			</div>
			<div id="in-jail3">
	  			<div class="jail-window" >
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
				</div>
			</div>
		</div>
		<script>
		player_info('ThirdBtn','This is player 3','255,0,0');
		</script>

		<div class="side-block" id="player4">
			<div class="player-block">
				<p class="side-block-content" id="player4-name"></p>
				<p>Current money amount:</p>
				<p id="money-4">$1500</p>
				<p><button class="player-btn" id="FourthBtn">More info</button></p>.
			</div>
			<div id="in-jail4">
	  			<div class="jail-window" >
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
				</div>
			</div>
		</div>
		<script>
		player_info('FourthBtn','This is player 4','0,128,0');
		</script>

		<div class="side-block" id="player5">
			<div class="player-block">
				<p class="side-block-content" id="player5-name"></p>
				<p>Current money amount:</p>
				<p id="money-5">$1500</p>
				<p><button class="player-btn" id="FifthBtn">More info</button></p>
			</div>
			<div id="in-jail5">
	  			<div class="jail-window" >
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
				</div>
			</div>
		</div>
		<script>
		player_info('FifthBtn','This is player 5','255,165,0');
		</script>

		<div class="side-block" id="player6">
			<div class="player-block">
				<p class="side-block-content" id="player6-name"></p>
				<p>Current money amount:</p>
				<p id="money-6">$1500</p>
				<p><button class="player-btn" id="SixthBtn">More info</button></p>
			</div>
			<div id="in-jail6">
	  			<div class="jail-window" >
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
					<div class="player-bar"></div>
				</div>
			</div>
		</div>
		<script>
		player_info('SixthBtn','This is player 6','221,160,221');
		</script>
	</aside>

	<body>
		<audio id="music" autoplay loop>
			<source th:src="@{/mp3/test.mp3}" type="audio/mpeg">
		</audio>
		<div class="box" id="options-box">
			<div id="auction">
				<div class="box_header" id="auction_header">AN AUCTION HAS BEGUN!</div>
				<div class="box_sub_header" id="auction_sub"></div>
				<div id="control_auction">
					<div id="alert_auction"></div>
				</div>
				<div id="bid">
					<input id="bid_amount" type="number" name="bid" min="1" placeholder="Bid Amount">
				</div>
				<!-- <div></div> -->
			</div>
			<div id="build">
				<div class="box_header">BUILD ON PROPERTIES</div>
				<div class="box_sub_header" id="build_sub"></div>
				<div class="custom-select" style="width:200px;">
					<select id="group_select">
						<option value="0">Select group:</option>
						<option value="1">Group 1</option>
						<option value="2">Group 2</option>
						<option value="3">Group 3</option>
						<option value="4">Group 4</option>
						<option value="5">Group 5</option>
						<option value="6">Group 6</option>
						<option value="7">Group 7</option>
						<option value="8">Group 8</option>
					</select>
				</div>
				<div id="control_build">
					<div id="alert_build"></div>
				</div>
				<script>
				var x, i, j, selElmnt, a, b, c;
				/*look for any elements with the class "custom-select":*/
				x = document.getElementsByClassName("custom-select");
				for (i = 0; i < x.length; i++) {
				  selElmnt = x[i].getElementsByTagName("select")[0];
				  /*for each element, create a new DIV that will act as the selected item:*/
				  a = document.createElement("DIV");
				  a.setAttribute("class", "select-selected");
				  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
				  x[i].appendChild(a);
				  /*for each element, create a new DIV that will contain the option list:*/
				  b = document.createElement("DIV");
				  b.setAttribute("class", "select-items select-hide");
				  for (j = 0; j < selElmnt.length; j++) {
				    /*for each option in the original select element,
				    create a new DIV that will act as an option item:*/
				    c = document.createElement("DIV");
				    c.innerHTML = selElmnt.options[j].innerHTML;
				    c.addEventListener("click", function(e) {
				        /*when an item is clicked, update the original select box,
				        and the selected item:*/
				        var y, i, k, s, h;
				        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
				        h = this.parentNode.previousSibling;
				        for (i = 0; i < s.length; i++) {
				          if (s.options[i].innerHTML == this.innerHTML) {
				            s.selectedIndex = i;
				            h.innerHTML = this.innerHTML;
				            y = this.parentNode.getElementsByClassName("same-as-selected");
				            for (k = 0; k < y.length; k++) {
				              y[k].removeAttribute("class");
				            }
				            this.setAttribute("class", "same-as-selected");
				            break;
				          }
				        }
				        h.click();
				    });
				    b.appendChild(c);
				  }
				  x[i].appendChild(b);
				  a.addEventListener("click", function(e) {
				      /*when the select box is clicked, close any other select boxes,
				      and open/close the current select box:*/
				      e.stopPropagation();
				      closeAllSelect(this);
				      this.nextSibling.classList.toggle("select-hide");
				      this.classList.toggle("select-arrow-active");
				    });
				}
				function closeAllSelect(elmnt) {
				  /*a function that will close all select boxes in the document,
				  except the current select box:*/
				  var x, y, i, arrNo = [];
				  x = document.getElementsByClassName("select-items");
				  y = document.getElementsByClassName("select-selected");
				  for (i = 0; i < y.length; i++) {
				    if (elmnt == y[i]) {
				      arrNo.push(i)
				    } else {
				      y[i].classList.remove("select-arrow-active");
				    }
				  }
				  for (i = 0; i < x.length; i++) {
				    if (arrNo.indexOf(i)) {
				      x[i].classList.add("select-hide");
				    }
				  }
				}
				/*if the user clicks anywhere outside the select box,
				then close all select boxes:*/
				document.addEventListener("click", closeAllSelect);
				</script>
			</div>
			<div id="numberhouses">
				<div class="box_header">MANAGE HOUSES</div>
				<div class="box_sub_header" id="numberhouses_sub"></div>
				<div class="cardspace">
					<div class="cardcolumn" id="card-1">
						<div class="cardDetailSpace" id="details-1"></div>
						<div class="houseQtySpace">
							<input type='button' id="field1-" value='-' class='qtyminus' field='field1' />
							<input type='text' name='field1' id="field1" value='0' class='qty' readonly="readonly"/>
							<input type='button' id="field1+" value='+' class='qtyplus' field='field1' />
						</div>
					</div>
					<div class="cardcolumn" id="card-2">
						<div class="cardDetailSpace" id="details-2"></div>
						<div class="houseQtySpace">
							<input type='button' id="field2-" value='-' class='qtyminus' field='field2' />
							<input type='text' name='field2' id="field2" value='0' class='qty' readonly="readonly"/>
							<input type='button' id="field2+" value='+' class='qtyplus' field='field2' />
						</div>
					</div>
					<div class="cardcolumn" id="card-3">
						<div class="cardDetailSpace" id="details-3"></div>
						<div class="houseQtySpace">
							<input type='button' id="field3-" value='-' class='qtyminus' field='field3' />
							<input type='text' name='field3' id="field3" value='0' class='qty' readonly="readonly"/>
							<input type='button' id="field3+" value='+' class='qtyplus' field='field3' />
						</div>
					</div>
				</div>
			</div>
			<div id="accounts">
				<div class="box_header">ACCOUNTS</div>
				<div class="box_sub_header" id="accounts_sub"></div>
		        <div class="listbox-area">
		          <div class="left-area" id="unmortgaged">
		            <span id="ms_av_l">Available properties:</span>
		            <ul id="ms_imp_list" tabindex="0" role="listbox" aria-labelledby="ms_av_l" aria-multiselectable="true" aria-activedescendant = ""></ul>
		            <button id="ex2-add" class="move-right-btn" aria-keyshortcuts="Alt+ArrowRight Enter" aria-disabled="true">Mortgage</button>
		          </div>
		          <div class="right-area" id="mortgaged">
		            <span id="ms_ch_l">Mortgaged Properties:</span>
		            <ul id="ms_unimp_list" tabindex="0" role="listbox" aria-labelledby="ms_ch_l" aria-activedescendant="" aria-multiselectable="true"> </ul>
		            <button id="ex2-delete" class="move-left-btn" aria-keyshortcuts="Alt+ArrowLeft Delete" aria-disabled="true">Pay Off</button>
		          </div>
		          <div class="offscreen">Last change: <span aria-live="polite" id="ms_live_region"></span></div>
		        </div>
			</div>
			<div id="trade">
				<div class="box_header">TRADE PROPERTIES</div>
				<div id="trade_display">
					<table>
						<tr>
							<td>
								<p>Your properties</p>
							</td>
							<td>
								<select name="trade_player_selection" id="trade_player_selection">
									<option value="0" selected="selected">Select Player to trade with</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<input type="number" id="my_trade_amount" min="0" placeholder="$">
							</td>
							<td>
								<input type="number" id="other_trade_amount" min="0" placeholder="$" style="display:none;">
							</td>
						</tr>
					</table>
					<div class="listbox-area" id="trade-listbox-area" style="display:none;">
						<div class="left-area" id="my_trade_properties">
							<span id="trade_av_l">Your Properties:</span>
							<ul id="trade_imp_list" tabindex="0" role="listbox" aria-labelledby="trade_av_l" aria-multiselectable="true" aria-activedescendant = ""></ul>
							<button id="trade-add" class="move-right-btn" aria-keyshortcuts="Alt+ArrowRight Enter" aria-disabled="true">Give Away</button>
						</div>
						<div class="right-area" id="other_trade_properties">
							<span id="trade_ch_l">Other Player's Properties:</span>
							<ul id="trade_unimp_list" tabindex="0" role="listbox" aria-labelledby="trade_ch_l" aria-activedescendant="" aria-multiselectable="true"> </ul>
							<button id="trade-delete" class="move-left-btn" aria-keyshortcuts="Alt+ArrowLeft Delete" aria-disabled="true">Take</button>
						</div>
						<div class="offscreen">Last change: <span aria-live="polite" id="trade_live_region"></span></div>
					</div>
				</div>
			</div>
			<div id="log_window">
				<div class="box_header">GAME LOG</div>
				<div class="box_sub_header" id="numberhouses_sub"></div>
				<div id="log_space">
					<ul id="log_entry_list"></ul>
				</div>
			</div>
			<button id="cancel_button">CANCEL</button>
			<button id="submit_button">SUBMIT</button>
		</div>

		<!-- Board -->

		<div class="table">
			<div class="board">
				<div class="center">
					<div class="community-chest-deck">
						<h2 class="label">Community Chest</h2>
						<div class="deck"></div>
					</div>
					<h1 class="title">MONOPOLY</h1>
					<div class="chance-deck">
						<h2 class="label">Chance</h2>
						<div class="deck"></div>
					</div>
				</div>
				<script type="text/javascript">
					function loopImageFunction(){
						images = ["spring.jpg","summer.jpg","fall.jpg","winter.jpg"];
						i=0;
						setInterval(function(){
							if (i === images.length) i=0;
							$(".center").css("background","url(images/"+images[i]+")");
							$(".center").css("background-size","50%");
							i++;
						}, 3000);
					}
					loopImageFunction();
				</script>

			<div id="modalInfo" class="modal">
				<div class="modal-content" id="boxInfo"></div>
				<span class="close" id="close2">&times;</span>
				<div id="caption"></div>
			</div>

			<div id="piece_1" style="display: none"></div>
			<div id="piece_2" style="display: none"></div>
			<div id="piece_3" style="display: none"></div>
			<div id="piece_4" style="display: none"></div>
			<div id="piece_5" style="display: none"></div>
			<div id="piece_6" style="display: none"></div>

				<!-- GO SPACE -->
				<div class="space corner go">
					<div class="container-corner">
						<div class="instructions">Collect $200.00 salary as you pass</div>
						<div class="go-word">go</div>
					</div>
					<!-- <div class="arrow fa fa-long-arrow-left"></div> -->
				</div>

				<!-- Group #1 -->
				<div id="group_1" class="row horizontal-row bottom-row-right">
						<div class="space fee income-tax" id="income-tax">
							<div class="container">
								<div class="name">Income Tax</div>
								<div class="diamond"></div>
								<div class="instructions">Pay 10%<br>or<br>$200</div>
							</div>
						</div>
						<div class="space property" id="baltic">
							<div class="container" id="Baltic Avenue">
								<div class="color-bar dark-purple"></div>
								<div class="name">Baltic Avenue</div>
								<div class="price">Price $50</div>
							</div>

							<script>
							popup_details("Baltic Avenue");
							</script>

						</div>
						<div class="space community-chest" id="com-chest-1">
							<div class="container">
								<div class="name">Community Chest</div>
								<i class="drawing fa fa-cube"></i>
								<div class="instructions">Follow instructions on top card</div>
							</div>
						</div>
						<div class="space property" id="mediterranean">
							<div class="container" id="Mediterranean Avenue">
								<div class="color-bar dark-purple"></div>
								<div class="name three-line-name">Mediter-<br>ranean<br>Avenue</div>
								<div class="price">Price $50</div>
							</div>
							<script>
							popup_details('Mediterranean Avenue');
							</script>
						</div>
					</div> 

				<!-- Railroad #1 -->
				<div class="space railroad row horizontal-row-center bottom-row-center">
						<div class="container" id="readingR">
							<div class="name">Reading Railroad</div>
							<i class="drawing fa fa-subway"></i>
							<div class="price">Price $200</div>
						</div>
						<script>
							popup_specialBoxes_details('readingR','<p> Reading Railroad <br> Group 9 <br> Price: 200 <br> Rent: 25 <br> Multiplied Rent per Railroad: 50, 100, 200</p>');
							</script>
				</div>

				<!-- Group #2 -->
				<div id="group_2" class="row horizontal-row bottom-row-left">
						<div class="space property" id="connecticut">
								<div class="container" id="Connecticut Avenue">
									<div class="color-bar light-blue"></div>
									<div class="name">Connecticut Avenue</div>
									<div class="price">PRICE $120</div>
								</div>
								<script>
								popup_details('Connecticut Avenue');
								</script>
							</div>
							<div class="space property" id="vermont">
								<div class="container" id="Vermont Avenue">
									<div class="color-bar light-blue"></div>
									<div class="name">Vermont Avenue</div>
									<div class="price">Price $100</div>
								</div>
								<script>
								popup_details('Vermont Avenue');
								</script>
							</div>
							<div class="space chance" id="chance-2">
								<div class="container">
									<div class="name">Chance</div>
									<i class="drawing fa fa-question"></i>
								</div>
							</div>
							<div class="space property" id="oriental">
								<div class="container" id="Oriental Avenue">
									<div class="color-bar light-blue"></div>
									<div class="name">Oriental Avenue</div>
									<div class="price">Price $100</div>
								</div>
								<script>
								popup_details('Oriental Avenue');
								</script>
							</div>
				</div>

				<!-- JAIL SPACE -->
				<div class="space corner jail">
					<div class="just">Just</div>
					<div class="drawing">
						<div class="container-corner">
							<div class="name">In</div>
							<div class="window">
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<i class="person fa fa-frown-o"></i>
							</div>
							<div class="name">Jail</div>
						</div>
					</div>
					<div class="visiting">Visiting</div>
				</div>

				<!-- GROUP #3 -->
				<div id="group_3" class="row vertical-row left-row-bottom">
						<div class="space property" id="virginia">
								<div class="container" id="Virginia Avenue">
									<div class="color-bar purple"></div>
									<div class="name">Virginia Avenue</div>
									<div class="price">Price $160</div>
								</div>
								<script>
								popup_details('Virginia Avenue');
								</script>
							</div>
							<div class="space property" id="states">
								<div class="container" id="States Avenue">
									<div class="color-bar purple"></div>
									<div class="name">States Avenue</div>
									<div class="price">Price $140</div>
								</div>
								<script>
								popup_details('States Avenue');
								</script>
							</div>
							<div class="space utility electric-company" id="electric">
								<div class="container" id="Electric Company">
									<div class="name">Electric Company</div>
									<i class="drawing fa fa-lightbulb-o"></i>
									<div class="price">Price $150</div>
								</div>
								<script>
								popup_details('Electric Company');
								</script>
							</div>
							<div class="space property" id="saint">
								<div class="container" id="St. Charles Place">
									<div class="color-bar purple"></div>
									<div class="name">St. Charles Place</div>
									<div class="price">Price $140</div>
								</div>
								<script>
								popup_details('St. Charles Place');
								</script>
							</div>
				</div>

				<!-- RAILROAD #2 -->
				<div class="space railroad row vertical-row left-row-center">
						<div class="container" id="pennsylvaniaR">
							<div class="name long name">Pennsylvania Railroad</div>
							<i class="drawing fa fa-subway"></i>
							<div class="price">Price $200</div>
						</div>
						<script>
						popup_specialBoxes_details('pennsylvaniaR','<p> Pennsylvania Railroad <br> Group 9 <br> Price: 200 <br> Rent: 25 <br> Multiplied Rent per Railroad: 50, 100, 200</p>');
						</script>
				</div>

				<!-- GROUP #4 -->
				<div id="group_4" class="row vertical-row left-row-top">
						<div class="space property" id="new">
							<div class="container" id="New York Avenue">
								<div class="color-bar orange"></div>
								<div class="name">New York Avenue</div>
								<div class="price">Price $200</div>
							</div>
							<script>
							popup_details('New York Avenue');
							</script>
						</div>
						<div class="space property" id="tenessee">
							<div class="container" id="Tennessee Avenue">
								<div class="color-bar orange"></div>
								<div class="name">Tennessee Avenue</div>
								<div class="price">Price $180</div>
							</div>
							<script>
							popup_details('Tennessee Avenue');
							</script>
						</div>
						<div class="space community-chest" id="com-chest-4">
							<div class="container">
								<div class="name">Community Chest</div>
								<i class="drawing fa fa-cube"></i>
								<div class="instructions">Follow instructions on top card</div>
							</div>
						</div>
						<div class="space property" id="james">
							<div class="container" id="St. James Place">
								<div class="color-bar orange"></div>
								<div class="name">St. James Avenue</div>
								<div class="price">Price $180</div>
							</div>
							<script>
							popup_details('St. James Place');
							</script>
						</div>
				</div>

				<!-- FREE PARKING -->
				<div class="space corner free-parking">
						<div class="container-corner">
							<div class="name">Free</div>
							<i class="drawing fa fa-car"></i>
							<div class="name">Parking</div>
						</div>

				</div>

				<!-- GROUP #5 -->
				<div id="group_5" class="row horizontal-row top-row-left">
					<div class="space property" id="kentucky">
						<div class="container" id="Kentucky Avenue">
							<div class="color-bar red"></div>
							<div class="name">Kentucky Avenue</div>
							<div class="price">Price $220</div>
						</div>
						<script>
						popup_details('Kentucky Avenue');
						</script>
					</div>
					<div class="space chance" id="chance-5">
						<div class="container">
							<div class="name">Chance</div>
							<i class="drawing fa fa-question blue"></i>
						</div>
					</div>
					<div class="space property" id="indiana">
						<div class="container" id="Indiana Avenue">
							<div class="color-bar red"></div>
							<div class="name">Indiana Avenue</div>
							<div class="price">Price $220</div>
						</div>
						<script>
						popup_details('Indiana Avenue');
						</script>
					</div>
					<div class="space property" id="illionis">
						<div class="container" id="Illinois Avenue">
							<div class="color-bar red"></div>
							<div class="name">Illinois Avenue</div>
							<div class="price">Price $200</div>
						</div>
						<script>
						popup_details('Illinois Avenue');
						</script>
					</div>
				</div>
				
				<!-- RAILROAD #3 -->
				<div class="space railroad row horizontal-row top-row-center">
						<div class="container" id="b&oR">
							<div class="name">B & O Railroad</div>
							<i class="drawing fa fa-subway"></i>
							<div class="price">Price $200</div>
						</div>
						<script>
						popup_specialBoxes_details('b&oR','<p> b&o Railroad <br> Group 9 <br> Price: 200 <br> Rent: 25 <br> Multiplied Rent per Railroad: 50, 100, 200</p>');
						</script>
				</div>

				<!-- GROUP #6 -->
				<div id="group_6" class="row horizontal-row top-row-right">
					<div class="space property" id="atlantic">
						<div class="container" id="Atlantic Avenue">
							<div class="color-bar yellow"></div>
							<div class="name">Atlantic Avenue</div>
							<div class="price">Price $260</div>
						</div>
						<script>
						popup_details('Atlantic Avenue');
						</script>
					</div>
					<div class="space property" id="ventnor">
						<div class="container" id="Ventnor Avenue">
							<div class="color-bar yellow"></div>
							<div class="name">Ventnor Avenue</div>
							<div class="price">Price $260</div>
						</div>
						<script>
						popup_details('Ventnor Avenue');
						</script>
					</div>
					<div class="space utility waterworks" id="waterworks">
						<div class="container" id="Water Works">
							<div class="name">Water Works</div>
							<i class="drawing fa fa-tint"></i>
							<div class="price">Price $120</div>
						</div>
						<script>
						popup_details('Water Works');
						</script>
					</div>
					<div class="space property" id="marvin">
						<div class="container" id="Marvin Gardens">
							<div class="color-bar yellow"></div>
							<div class="name">Marvin Gardens</div>
							<div class="price">Price $280</div>
						</div>
						<script>
						popup_details('Marvin Gardens');
						</script>
					</div>					
				</div>

				<!-- GO TO JAIL -->
				<div class="space corner go-to-jail">
					<div class="container-corner" id="goToJail">
						<div class="name">Go To</div>
						<i class="drawing fa fa-gavel"></i>
						<div class="name">Jail</div>
					</div>
					<script>
					popup_specialBoxes_details('goToJail','<p> Go To Jail <br> You are going to jail now <br> ¯\_(ツ)_/¯ </p>');
					</script>
				</div>

				<!-- GROUP #7 -->
				<div id="group_7" class="row vertical-row right-row-top">
					<div class="space property" id="pacific">
						<div class="container" id="Pacific Avenue">
							<div class="color-bar green"></div>
							<div class="name">Pacific Avenue</div>
							<div class="price">Price $300</div>
						</div>
						<script>
						popup_details('Pacific Avenue');
						</script>
					</div>
					<div class="space property" id="north">
						<div class="container" id="North Carolina Avenue">
							<div class="color-bar green"></div>
							<div class="name three-line-name">North Carolina Avenue</div>
							<div class="price">Price $300</div>
						</div>
						<script>
						popup_details('North Carolina Avenue');
						</script>
					</div>
					<div class="space community-chest" id="com-chest-7">
						<div class="container">
							<div class="name">Community Chest</div>
							<i class="drawing fa fa-cube"></i>
							<div class="instructions">Follow instructions on top card</div>
						</div>
					</div>
					<div class="space property" id="penn">
						<div class="container" id="Pennsylvania Avenue">
							<div class="color-bar green"></div>
							<div class="name long-name">Pennsylvania Avenue</div>
							<div class="price">Price $320</div>
						</div>
						<script>
						popup_details('Pennsylvania Avenue');
						</script>
					</div>
				</div>

				<!-- RAILROAD #4 -->
				<div class="space railroad row vertical-row right-row-center">
						<div class="container" id="shortLine">
							<div class="name">Short Line</div>
							<i class="drawing fa fa-subway"></i>
							<div class="price">Price $200</div>
						</div>
						<script>
						popup_specialBoxes_details('shortLine','<p> Short Line <br> Group 9 <br> Price: 200 <br> Rent: 25 <br> Multiplied Rent per Railroad: 50, 100, 200</p>');
						</script>
				</div>


				<!-- GROUP #8 -->
				<div id="group_8" class="row vertical-row right-row-bottom">
					<div class="space chance" id="chance-8">
						<div class="container">
							<div class="name">Chance</div>
							<i class="drawing fa fa-question"></i>
						</div>
					</div>
					<div class="space property" id="park">
						<div class="container" id="Park Place">
							<div class="color-bar dark-blue"></div>
							<div class="name">Park Place</div>
							<div class="price">Price $350</div>
						</div>
						<script>
						popup_details('Park Place');
						</script>
					</div>
					<div class="space fee luxury-tax" id="luxury">
						<div class="container">
							<div class="name">Luxury Tax</div>
							<div class="drawing fa fa-diamond"></div>
							<div class="instructions">Pay $75.00</div>
						</div>
					</div>
					<div class="space property" id="boardw">
						<div class="container" id="Boardwalk">
							<div class="color-bar dark-blue"></div>
							<div class="name">Boardwalk</div>
							<div class="price">Price $400</div>
						</div>
						<script>
						popup_details('Boardwalk');
						</script>
					</div>
				</div>
			</div>
		</div>
	</body>

	<div class="topright">
		<div class="dieholder" id="dice1"></div>
		<div class="dieholder" id="dice2"></div>
		<!-- <button class="die-button" id="dieButton">Roll Die</button> -->
	</div>

	<div id="control">
		<table>
			<tr>
				<td style="text-align: left; vertical-align: top; border: none;">
					<div id="menu">
						<div id="alert"></div>
					</div>
					<button id="dieButton">Roll Die</button>
					<button id="acceptButton">Accept</button>
					<button id="declineButton">Decline</button>
					<button id="continueButton">Continue</button>
					<button id="buildButton">Build</button>
					<button id="tradeButton">Trade</button>
					<button id="accountsButton">Accounts</button>
					<button id="endButton">End Turn</button>
					<button id="jailCardButton">Use Card</button>
					<button id="jailRollButton">Test My Luck</button>
					<button id="jailPayButton">Bail Me Out</button>
				</td>
			</tr>
			<tr>
				<td>
					<button id="musicButton" onclick="toggleMusic()">Mute</button>
					<button id="viewLogButton">View Log</button>
					<button id="quitButton">Quit Game</button>
				</td>
			</tr>
		</table>
	</div>
	
</html>