<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="css/navigation.css">
        <script src="jquery/3.3.1/jquery.min.js"></script>
        <script src="js/create_join.js"></script>
	    <title>NEW MONOPOLY :: HELP/ABOUT</title>
    </head>
    <body>
            <div class="wrapper">
                    <nav>
                        <a th:href="@{/}">
                            <img src="images/rich_uncle.png" id="logo">
                        </a>
                        <ul>
                            <li><a th:href="@{/}">HOME</a></li>
                            <li><a th:href="@{/create_join}">CREATE/JOIN GAME</a></li>
                            <li><a class="active" th:href="@{/learn}">HELP/ABOUT</a></li>
                            <li class="rightli"><a th:href="@{/login}">LOGIN</a></li>
                        </ul>
                    </nav>
                </div>
    </body>
</html>