<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <script th:src="@{/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/js/lobby.js}"></script>
	    <title>NEW MONOPOLY :: LOBBY</title>
    </head>
    <body>
    <div id="setup">
        <form name="players">
            <h3>PLAYERS</h3>
            <input type="text" name="player_1">
            <input type="text" name="player_2">
            <button type="button" id="launch">SUBMIT</button>
        </form>
    </div>
    </body>
</html>