.opener {
    background-image: url("images/opener.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%; 
    height: 1000px;
}

.page-wrap {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
}

#name {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 20px;
    font-family: 'Verlag A','Verlag B';
    font-weight: 700;
    font-style: normal;
}

#login_button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Verlag A','Verlag B';
    background-color: #78a381;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #e0e0e0;
    font-weight: 700;
    font-size: 1.3em!important;
    line-height: 1em;
    padding: 14px 25px;
    text-align: center;
    min-width: 160px;
    text-decoration: none;
}

#signup_button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Verlag A','Verlag B';
    background-color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #ae8648;
    font-weight: 700;
    font-size: 1.3em!important;
    line-height: 1em;
    padding: 14px 25px;
    text-align: center;
    min-width: 160px;
    text-decoration: none;
}

#slogan {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Verlag A','Verlag B';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
}

.statement {
    background: black;
    color: white;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
}

#statement_sent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 20px;
    font-family: 'Verlag A','Verlag B';
    font-weight: 700;
    font-style: oblique;
}

.play {
    background-image: url("images/play.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%; 
    height: 1000px;
}

#play_sent {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Verlag A','Verlag B';
    font-weight: 700;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
}

#play_button {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Verlag A','Verlag B';
    background-color: #78a381;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #e0e0e0;
    font-weight: 700;
    font-size: 1.3em!important;
    line-height: 1em;
    padding: 10px 25px;
    text-align: center;
    white-space: nowrap;
    width: 10%;
    min-width: 230px;
    text-decoration: none;
}

.quote {
    background: black;
    color: white;
    position: absolute;
    top: 210%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
}

#quote_sent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    letter-spacing: 2px;
    font-family: 'Verlag A','Verlag B';
    font-weight: 700;
    font-style: oblique;
}

.learn {
    background-image: url("images/learn.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    height: 1000px;
}

#learn_sent {
    position: absolute;
    top: 255%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Verlag A','Verlag B';
    font-weight: 700;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
}

#learn_button {
    position: absolute;
    top: 265%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Verlag A','Verlag B';
    background-color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #ae8648;
    font-weight: 700;
    font-size: 1.3em!important;
    line-height: 1em;
    padding: 14px 25px;
    text-align: center;
    min-width: 160px;
    text-decoration: none;
    white-space: nowrap;
}